* {
    box-sizing: border-box;
}

/* .flex-ctr {
    flex-direction: column;
} */

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}


#snake-header {
    display: inline-flex; 
    justify-content: center;
    gap: 5px;
}


h2 {
    color: green;
    align-content: left; 
    font-family: 'Tomorrow People', sans-serif;
    /* margin-right: 400px; */
}


header span {
    font-family: 'Tomorrow People', sans-serif;
    font-size: 90px;
    color: blue;
}

#snake-board {
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(10, 30px);
    border: 6px solid #8A2BE2;
    background-color: lightpink;
}

#snake-board > div {
    /* border: 0.6px solid #8A2BE2; */
}

.snake {
    width: 50px;
    height: 50px;
    /* position: absolute; */
    background-color: yellow;
    border: 5px solid red;
}

.body {
    width: 50px;
    height: 50px;
    background-color: #40E0D0;
    border: 5px solid #E2F516;
}

.target {
    width: 50px;
    height: 50px;
    /* position: absolute; */
    border-radius: 50%;
    background-color: #6495ED;
    border: 5px solid green;
}