* {
    box-sizing: border-box;
}

/* .flex-ctr {
    flex-direction: column;
} */

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}


#snake-header {
    display: inline-flex; 
    justify-content: center;
    gap: 5px;
}


h2 {
    color: green;
    align-content: left; 
    /* margin-right: 400px; */
}


header span {
    font-family: 'Tomorrow People', sans-serif;
    font-size: 90px;
    color: blue;
}

#snake-board {
    display: grid;
    grid-template-columns: repeat(10, 7vmin);
    grid-template-rows: repeat(10, 7vmin);
    border: 5px solid #8A2BE2;
    background-color: lightpink;
}

#snake-board > div {
    border: 0.2vmin solid #8A2BE2;
}